.all-cards-container {
    position: absolute;
    top: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.all-cards-container>div {
    display: flex;
    border-radius: 10px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    cursor: pointer;
    margin-bottom: 50px;
}

.all-cards-container>div:not(:first-child) {
    margin-left: -200px;
}

.all-cards-container>div:hover {
    transform: translateY(-200px);
    transition: 0.4s ease-out;
}

.all-cards-container>div:hover~.all-cards-container>div {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}